@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.9.0/css/foundation.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;

    max-width: 100vw;
    /* font-family: Arial, Helvetica, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    background: url(https://t3.ftcdn.net/jpg/07/50/60/26/360_F_750602683_6x2yXATTBPmtCApHPjj5NOMnbPrJoIAV.jpg)
        no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(70px);
    min-height: 100lvh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Anurati;
    src: url(../public/fonts/anurati_font/Anurati-Regular.otf);
}
.fontAnuri {
    font-family: Anurati;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

h2.title {
    font-size: 2rem;
    &:first-letter {
        font-family: Anurati;
        text-transform: uppercase;
        font-size: 3rem;
    }
    span {
        display: block;
        font-size: 1.5rem;
    }
}
.textWhite {
    color: white;
}
.bgWhite {
    background-color: white;
}
section.skew {
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;
    @media screen and (min-width: 768px) {
        padding-bottom: 10rem;
    }
}
.separatorSkewWhite {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform-origin: top left;
    transform: skewY(-5deg);
    border-top-right-radius: 25px;
    z-index: 1;
}
