nav {
    h1 {
        margin: 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        display: none;
        /* position: absolute; */
        /* margin: 0;
        padding: 0; */
        margin: 0;
        list-style: none;
        gap: 2rem;
        &.active {
            display: flex;
            /* flex-direction: row;
            justify-content: space-between;
            align-items: center; */
        }
        li a {
            display: block;
            text-transform: uppercase;
        }
    }
    .containerBurger {
        height: 50px;
    }
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: white;
        stroke-width: 3;
        stroke-linecap: round;
    }
    .active .line {
        isolation: isolate;

        stroke: red;
    }
    .ham1 .top {
        stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }
    .ham1.active .top {
        stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }
}
